._8mmuC-40 {
    position: relative
}

._23CWp-40 {
    padding-right: 28px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._2M94h-40 {
    width: 118px;
    height: 74px;
    padding: 8px;
    position: relative;
    border-radius: 3px;
    background-color: #f5f5f5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}

._2M94h-40:not(.wYx5X-40):hover {
    background-color: #e1faf4;
    -webkit-transition-duration: .175s;
    transition-duration: .175s
}

.wYx5X-40 ._2M94h-40 {
    background-color: #e1faf4;
    cursor: default
}

.wYx5X-40 ._1gVoC-40 {
    opacity: 1
}

._1gVoC-40 {
    width: 18px;
    height: 18px;
    position: absolute;
    top: 6px;
    right: 6px;
    border-radius: 2px;
    background-color: #940000;
    color: #e1faf4;
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

._1lGDJ-40 {
    position: absolute;
    top: 8px
}

._1lGDJ-40 img {
    display: block;
    width: 100%
}

._2nYX7-40 {
    position: absolute;
    bottom: 8px;
    right: 8px;
    font: 500 16px/1.5 Gotham Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #70544f
}

._2MF5B-40 ._1lGDJ-40 {
    width: 40px
}

._23T-D-40 ._1lGDJ-40,
._73rzl-40 ._1lGDJ-40,
._2cvPu-40 ._1lGDJ-40 {
    width: 39px
}

._6Z0ZP-40 ._1lGDJ-40 {
    width: 47px
}

._1zmu8-40 {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0;
    border: none;
    color: #ededed;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: color .35s;
    transition: color .35s
}

._1zmu8-40:after {
    content: "";
    position: absolute;
    top: -10px;
    right: -10px;
    bottom: -10px;
    left: -10px
}

._1zmu8-40 svg {
    display: block
}

._1zmu8-40:hover {
    color: #c21313;
    -webkit-transition-duration: .175s;
    transition-duration: .175s
}

.oUbXO-40 {
    display: none
}

.OaaZK-40 {
    width: 118px;
    height: 74px;
    padding: 17px 8px 15px;
    position: relative;
    border-radius: 3px;
    background-color: #f5f5f5;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}

.OaaZK-40:hover,
.-Hl36-40 {
    background-color: #e1faf4;
    -webkit-transition-duration: .175s;
    transition-duration: .175s
}

._2gTnN-40 {
    width: 16px;
    height: 16px;
    position: relative;
    margin: 0 auto 6px;
    border-radius: 100%;
    background-color: #bfb7b6
}

._2gTnN-40:after,
._2gTnN-40:before {
    width: 8px;
    height: 2px;
    content: "";
    display: block;
    margin: 0 auto;
    background-color: #fff
}

._2gTnN-40:after {
    -webkit-transform: translateY(5px) rotate(90deg);
    transform: translateY(5px) rotate(90deg)
}

._2gTnN-40:before {
    -webkit-transform: translateY(7px);
    transform: translateY(7px)
}

._3n7rR-40 {
    color: #70544f;
    font-size: 12px;
    text-align: center
}

._3qsOq-40 {
    padding: 20px 0;
    text-align: center
}

._1eAgR-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._2Zjkh-40 {
    margin-right: 10px
}

._2Zjkh-40:last-child {
    margin-right: 0
}

._3tN8W-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 49px;
    font-size: 12px
}

._2Aj82-40 {
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

._3iM6a-40 {
    opacity: 1
}

.kt3gw-40 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 1
}

#ds3iframe {
    position: relative;
    width: 700px;
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    z-index: 2
}

._1pVQ5-40 {
    padding: 20px 0;
    text-align: center
}

._3fl2n-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

.wverb-40 {
    margin-right: 10px
}

.wverb-40:last-child {
    margin-right: 0
}

._3R5IB-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    min-height: 49px;
    font-size: 12px
}

.xd91M-40 {
    opacity: 0;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

._-3VZL-40 {
    opacity: 1
}

.CWan7-40 {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    margin-top: -50px;
    margin-left: -50px;
    z-index: 1
}

#ds3iframe {
    position: relative;
    width: 700px;
    max-width: 100%;
    height: 500px;
    max-height: 100%;
    z-index: 2
}

._14nsY-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

._14nsY-40:not(:last-child) {
    margin-bottom: 20px
}

._3zFF2-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center
}

._9lMAT-40 {
    margin: 10px
}

._28gFV-40 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%
}

._19OL9-40 {
    position: relative
}

._1835l-40 {
    position: absolute;
    height: 0;
    width: 0;
    right: 22px;
    top: 50%;
    border-color: #333 transparent transparent;
    border-style: solid;
    border-width: 5px 5px 2.5px;
    display: inline-block
}

._3ypqd-40 {
    display: block;
    margin-bottom: 5px
}

._2MENg-40 {
    -webkit-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%
}

._2MENg-40 .Select-control {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 49px;
    padding: 0 16px;
    border: none;
    border-radius: 2px;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #70544f;
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}

._2MENg-40 .Select-control::-webkit-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._2MENg-40 .Select-control::-moz-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._2MENg-40 .Select-control:-ms-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._2MENg-40 .Select-control::-ms-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._2MENg-40 .Select-control::placeholder {
    color: #bfb7b6;
    opacity: 1
}

._2MENg-40 .Select-control:hover {
    -webkit-box-shadow: none;
    box-shadow: none
}

._2MENg-40.Select.is-focused>.Select-control {
    background-color: #eee
}

._2MENg-40.Select.is-open>.Select-control {
    -webkit-box-shadow: none;
    box-shadow: none;
    border-radius: 2px
}

._2MENg-40.Select.is-focused:not(.is-open)>.Select-control {
    -webkit-box-shadow: none;
    box-shadow: none
}

._2MENg-40 .Select-input {
    width: 100%;
    height: 100%;
    padding: 0
}

._2MENg-40 .Select-input>input {
    padding: 0
}

._2MENg-40.Select--single>.Select-control .Select-value,
._2MENg-40 .Select-placeholder {
    padding-left: 15px;
    padding-right: 30px;
    line-height: 49px
}

._2MENg-40 .Select-control .Select-input:focus {
    background-color: transparent
}

._2MENg-40 .Select-menu-outer {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    overflow: hidden;
    position: absolute;
    width: 100%;
    max-height: 200px;
    top: 100%;
    padding-right: 4px;
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(41, 44, 51, .2);
    box-shadow: 0 2px 12px 0 rgba(41, 44, 51, .2);
    z-index: 1000
}

._2MENg-40 .Select-menu {
    max-height: 200px;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch
}

._2MENg-40 .Select-menu::-webkit-scrollbar {
    width: 2px;
    background: 0 0
}

._2MENg-40 .Select-menu::-webkit-scrollbar-track {
    border-radius: 1px
}

._2MENg-40 .Select-menu::-webkit-scrollbar-track-piece {
    background: 0 0
}

._2MENg-40 .Select-menu::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #e6e2e1
}

._2MENg-40 .Select-menu::-webkit-resizer,
._2MENg-40 .Select-menu::-webkit-scrollbar-button,
._2MENg-40 .Select-menu::-webkit-scrollbar-corner {
    display: none
}

._2MENg-40 .Select-option {
    position: relative;
    padding: 15px 15px 15px 48px;
    border-radius: 0;
    line-height: 1.15;
    color: #70544f
}

._2MENg-40 .Select-option:before {
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    left: 24px;
    top: 50%;
    margin-top: -8px;
    opacity: 0;
    background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiMwMDk0NzEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTcuNDAzIDguMzlMNC44OSA2LjU4IDMuNSA4LjE1NSA3LjcwNyAxMS41IDEyLjUgNS44MyAxMC44NTcgNC41eiIvPgo8L3N2Zz4K);
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: contain;
    pointer-events: none;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

._2MENg-40 .Select-option.is-focused {
    background-color: #f8f8f8
}

._2MENg-40 .Select-option.is-selected {
    cursor: default
}

._2MENg-40 .Select-option.is-selected:before {
    -webkit-transition-duration: .175s;
    transition-duration: .175s;
    opacity: 1
}

._2MENg-40 .Select-control>:last-child {
    padding-right: 0
}

._2MENg-40 .Select-arrow {
    border-color: #333 transparent transparent
}

._2MENg-40.Select.is-open>.Select-control .Select-arrow {
    top: -2px;
    border-color: transparent transparent #333
}

._2MENg-40.Select.has-value.is-pseudo-focused.Select--single>.Select-control .Select-value .Select-value-label,
._2MENg-40.Select.has-value.Select--single>.Select-control .Select-value .Select-value-label {
    font-weight: 500;
    color: #70544f
}

._2IUV5-40 ._2MENg-40 .Select-control {
    border-color: red
}

._2VKvK-40 {
    font-size: 12px;
    color: #a69895;
    padding-top: 8px;
    display: block
}

._33_bL-40 {
    position: relative;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    width: 100%
}

.DTCw9-40 {
    pointer-events: none;
    opacity: .75
}

._10nGc-40 {
    width: 12px;
    height: 12px;
    display: inline-block;
    border-radius: 50%;
    border: 1px solid;
    line-height: 11px;
    font-size: 10px;
    text-align: center;
    cursor: pointer
}

@media(max-width:1279px) {
    ._10nGc-40 {
        position: relative
    }
    ._10nGc-40:before {
        content: "";
        position: absolute;
        display: block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        margin-top: -10px;
        margin-left: -10px
    }
}

._1zyMW-40 {
    font-size: 14px;
    line-height: 1.4;
    opacity: 1
}

._1zyMW-40 .rc-tooltip-inner {
    position: relative;
    max-width: 322px;
    padding: 24px 28px 24px 33px;
    color: #a69895;
    background-color: #fff;
    border-radius: 6px;
    -webkit-box-shadow: 0 2px 12px 0 rgba(41, 44, 51, .2);
    box-shadow: 0 2px 12px 0 rgba(41, 44, 51, .2)
}

._1zyMW-40 .rc-tooltip-inner:after,
._1zyMW-40 .rc-tooltip-inner:before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: inherit;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg)
}

._1zyMW-40 .rc-tooltip-inner:before {
    -webkit-box-shadow: inherit;
    box-shadow: inherit;
    z-index: -1
}

._1zyMW-40 .rc-tooltip-inner:after {
    z-index: 1
}

._1zyMW-40 .rc-tooltip-arrow {
    display: none
}

._1zyMW-40[class*=rc-tooltip-placement-bottom] .rc-tooltip-inner:after,
._1zyMW-40[class*=rc-tooltip-placement-bottom] .rc-tooltip-inner:before {
    top: 0;
    margin-top: -4px
}

._1zyMW-40[class*=rc-tooltip-placement-top] .rc-tooltip-inner:after,
._1zyMW-40[class*=rc-tooltip-placement-top] .rc-tooltip-inner:before {
    bottom: 0;
    margin-bottom: -4px
}

._1zyMW-40[class*=rc-tooltip-placement-left] .rc-tooltip-inner:after,
._1zyMW-40[class*=rc-tooltip-placement-left] .rc-tooltip-inner:before {
    right: 0;
    margin-right: -4px
}

._1zyMW-40[class*=rc-tooltip-placement-right] .rc-tooltip-inner:after,
._1zyMW-40[class*=rc-tooltip-placement-right] .rc-tooltip-inner:before {
    left: 0;
    margin-left: -4px
}

._1zyMW-40[class*=Left] .rc-tooltip-inner {
    margin-left: -14px
}

._1zyMW-40[class*=Left] .rc-tooltip-inner:after,
._1zyMW-40[class*=Left] .rc-tooltip-inner:before {
    left: 15px
}

._1zyMW-40[class*=Right] .rc-tooltip-inner {
    margin-right: -14px
}

._1zyMW-40[class*=Right] .rc-tooltip-inner:after,
._1zyMW-40[class*=Right] .rc-tooltip-inner:before {
    right: 15px
}

._1zyMW-40[class*=Top] .rc-tooltip-inner {
    margin-top: -14px
}

._1zyMW-40[class*=Top] .rc-tooltip-inner:after,
._1zyMW-40[class*=Top] .rc-tooltip-inner:before {
    top: 15px
}

._1zyMW-40[class*=Bottom] .rc-tooltip-inner {
    margin-bottom: -14px
}

._1zyMW-40[class*=Bottom] .rc-tooltip-inner:after,
._1zyMW-40[class*=Bottom] .rc-tooltip-inner:before {
    bottom: 15px
}

._2ldp2-40 {
    position: relative
}

._1YEWc-40 {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    max-width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #70544f
}

._3XiOh-40 {
    position: relative;
    display: inline;
    max-width: 100%
}

._1Kitn-40 {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    white-space: inherit
}

.l9s13-40 {
    -ms-flex-item-align: center;
    align-self: center;
    font-size: 12px;
    color: #940000;
    cursor: pointer
}

.l9s13-40:hover {
    color: #006d54
}

._1WIcs-40 {
    position: absolute;
    display: inline-block;
    bottom: 1px;
    left: 100%;
    line-height: 1;
    font-size: 0;
    color: #ededed;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

._1WIcs-40:hover {
    color: #a69895
}

._2jPHQ-40 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    right: 0;
    color: #bfb7b6;
    cursor: pointer;
    -webkit-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: color .35s, -webkit-transform .35s;
    transition: color .35s, -webkit-transform .35s;
    transition: color .35s, transform .35s;
    transition: color .35s, transform .35s, -webkit-transform .35s;
    z-index: 1
}

._2jPHQ-40:hover {
    color: #a69895
}

._2SXud-40 {
    position: absolute;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    right: 0;
    top: 0;
    pointer-events: none;
    opacity: 0;
    color: #940000;
    -webkit-animation: rg36Q-40 .35s linear 0s forwards;
    animation: rg36Q-40 .35s linear 0s forwards;
    z-index: 1
}

._2ldp2-40 input {
    padding-right: 40px
}

._2ldp2-40 .react-date-picker__button__input input {
    padding: 0
}

._2ldp2-40 .react-date-picker,
._2ldp2-40 .Select,
._2ldp2-40 input,
._2ldp2-40 textarea {
    position: relative
}

._2ldp2-40 .Select>.Select-control .Select-value {
    padding-left: 16px
}

._2ldp2-40 .react-date-picker__button input {
    margin-left: 0;
    margin-right: 0
}

._1x7d7-40 .react-date-picker--disabled {
    background-color: inherit
}

._1x7d7-40 .react-date-picker__button,
._1x7d7-40 .react-tel-input,
._1x7d7-40 .Select,
._1x7d7-40 input,
._1x7d7-40 textarea {
    opacity: 0;
    z-index: -1
}

._3o4nj-40 .react-tel-input,
._3o4nj-40 .Select,
._3o4nj-40 input {
    opacity: 1;
    z-index: 1
}

._2EvwT-40 .react-date-picker__button,
._2EvwT-40 .react-tel-input,
._2EvwT-40 .Select-control,
._2EvwT-40 .Select-placeholder,
._2EvwT-40 input {
    background-color: inherit
}

._3k_RK-40 ._2jPHQ-40 {
    -webkit-transform: translateX(-22px);
    transform: translateX(-22px)
}

.DHnmM-40 input {
    padding-right: 70px
}

._1PB25-40 {
    width: 20px;
    height: 20px;
    border-width: 2px;
    margin-left: 4px
}

._1PB25-40:after,
._1PB25-40:before {
    left: -2px;
    top: -2px
}

@-webkit-keyframes rg36Q-40 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

@keyframes rg36Q-40 {
    0% {
        opacity: 0
    }
    to {
        opacity: 1
    }
}

._3ASb5-40 {
    display: inline-block;
    cursor: pointer
}

._2ahZ5-40 {
    font-family: Gotham Pro, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #70544f
}

.H2J8_-40 {
    margin-right: 8px;
    vertical-align: middle;
    color: #bfb7b6
}

.H2J8_-40,
._2ahZ5-40 {
    -webkit-transition: color .35s;
    transition: color .35s
}

._3ASb5-40:hover .H2J8_-40,
._3ASb5-40:hover ._2ahZ5-40 {
    color: #940000;
    -webkit-transition-duration: .175s;
    transition-duration: .175s
}

._43ys5-40 {
    padding-top: 8px;
    font-size: 12px;
    color: #a69895
}

._3bREP-40 {
    position: relative
}

.kostamaster331 input {
    display: block;
    width: 100%;
    height: 49px;
    padding: 12px 16px;
    border-radius: 2px;
    border: none;
    background-color: #e3e3e36e;
    font-size: 16px;
    color: #70544f;
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}

.kostamaster331 select {
    display: block;
    width: 100%;
    height: 49px;
    padding: 12px 16px;
    border-radius: 2px;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #70544f;
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}

.kostamaster331 input::-webkit-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

.kostamaster331 input::-moz-placeholder {
    color: #bfb7b6;
    opacity: 1
}

.kostamaster331 input:-ms-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

.kostamaster331 input::-ms-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

.kostamaster331 input::placeholder {
    color: #bfb7b6;
    opacity: 1
}

.kostamaster331 input:focus {
    background-color: #eee
}

.kostamaster331 select:focus {
    background-color: #eee
}

.kostamaster331 ul {
    overflow: hidden;
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-height: 200px;
    top: 100%;
    padding-right: 5px;
    border-right: 4px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08);
    box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08);
    z-index: 1000
}

.kostamaster331 ul::-webkit-scrollbar {
    width: 2px;
    background: 0 0
}

.kostamaster331 ul::-webkit-scrollbar-track {
    border-radius: 1px
}

.kostamaster331 ul::-webkit-scrollbar-track-piece {
    background: 0 0
}

.kostamaster331 ul::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #e6e2e1
}

.kostamaster331 ul::-webkit-resizer,
.kostamaster331 ul::-webkit-scrollbar-button,
.kostamaster331 ul::-webkit-scrollbar-corner {
    display: none
}

.kostamaster331 li {
    max-width: 100%;
    padding-left: 48px;
    padding-right: 15px;
    cursor: pointer;
    line-height: 1.15;
    color: $color
}

._3QRlt-40 {
    position: relative;
    margin-bottom: 12px;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

._3QRlt-40:last-child {
    margin-bottom: 0
}

._1H_R0-40 {
    opacity: 0
}

.lKlgz-40 {
    position: relative
}

._2FxpH-40 {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -12px;
    color: #bfb7b6
}

.Iz-qr-40 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 50%;
    right: 5px;
    height: 30px;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #bfb7b6;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: color .35s;
    transition: color .35s
}

.Iz-qr-40:hover {
    color: #a69895
}

._3Pkge-40 {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 40px 0 48px;
    font-size: 16px;
    color: #70544f
}

._3QRlt-40 ymaps[class*=popup],
._3Pkge-40 {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08);
    box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08)
}

._3QRlt-40 ymaps[class*=popup] {
    overflow: hidden;
    overflow-y: auto;
    max-height: 368px;
    margin-top: 12px;
    padding-right: 15px
}

._3QRlt-40 ymaps[class*=popup]::-webkit-scrollbar {
    width: 2px;
    background: 0 0
}

._3QRlt-40 ymaps[class*=popup]::-webkit-scrollbar-track {
    border-radius: 1px
}

._3QRlt-40 ymaps[class*=popup]::-webkit-scrollbar-track-piece {
    background: 0 0
}

._3QRlt-40 ymaps[class*=popup]::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #e6e2e1
}

._3QRlt-40 ymaps[class*=popup]::-webkit-resizer,
._3QRlt-40 ymaps[class*=popup]::-webkit-scrollbar-button,
._3QRlt-40 ymaps[class*=popup]::-webkit-scrollbar-corner {
    display: none
}

._3QRlt-40 ymaps[class*=popup],
.lKlgz-40 {
    position: relative
}

._3QRlt-40 ymaps[class*=popup]:after,
.lKlgz-40:after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(hsla(0, 0%, 100%, .6)), to(#fff));
    background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .6), #fff);
    pointer-events: none
}

._3QRlt-40 ymaps[class*=__suggest-item],
._3QRlt-40 li {
    height: 40px;
    font: 14px/40px Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #70544f;
    background-color: #fff;
    -webkit-transition: background-color .35s;
    transition: background-color .35s;
    position: relative
}

._3QRlt-40 ymaps[class*=__suggest-item]:before,
._3QRlt-40 li:before {
    content: "";
    position: absolute;
    left: 24px;
    top: 50%;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiMwMDk0NzEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTcuNDAzIDguMzlMNC44OSA2LjU4IDMuNSA4LjE1NSA3LjcwNyAxMS41IDEyLjUgNS44MyAxMC44NTcgNC41eiIvPgo8L3N2Zz4K) no-repeat 50% 50%/contain;
    width: 16px;
    height: 16px;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

._3QRlt-40 .focused,
._3QRlt-40 ymaps[class*=__suggest-item_selected_yes] {
    background-color: #f8f8f8;
    -webkit-transition-duration: .175s;
    transition-duration: .175s
}

._3QRlt-40 .focused:before,
._3QRlt-40 ymaps[class*=__suggest-item_selected_yes]:before {
    -webkit-transition-duration: .175s;
    transition-duration: .175s;
    opacity: 1
}

._3QRlt-40 ymaps[class*=search__suggest-item] {
    padding-left: 48px;
    padding-right: 0
}

._70rmR-40 {
    position: relative
}

._1hZ8y-40 input {
    display: block;
    width: 100%;
    height: 49px;
    padding: 12px 16px;
    border-radius: 2px;
    border: none;
    background-color: #f5f5f5;
    font-size: 16px;
    color: #70544f;
    -webkit-transition: background-color .35s;
    transition: background-color .35s
}

._1hZ8y-40 input::-webkit-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._1hZ8y-40 input::-moz-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._1hZ8y-40 input:-ms-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._1hZ8y-40 input::-ms-input-placeholder {
    color: #bfb7b6;
    opacity: 1
}

._1hZ8y-40 input::placeholder {
    color: #bfb7b6;
    opacity: 1
}

._1hZ8y-40 input:focus {
    background-color: #eee
}

._1hZ8y-40 ul {
    overflow-y: auto;
    overflow-x: hidden;
    -webkit-overflow-scrolling: touch;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    width: 100%;
    max-height: 200px;
    top: 100%;
    padding-right: 5px;
    border-right: 4px solid transparent;
    border-radius: 5px;
    background-color: #fff;
    -webkit-box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08);
    box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08);
    z-index: 1000
}

._1hZ8y-40 ul::-webkit-scrollbar {
    width: 2px;
    background: 0 0
}

._1hZ8y-40 ul::-webkit-scrollbar-track {
    border-radius: 1px
}

._1hZ8y-40 ul::-webkit-scrollbar-track-piece {
    background: 0 0
}

._1hZ8y-40 ul::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #e6e2e1
}

._1hZ8y-40 ul::-webkit-resizer,
._1hZ8y-40 ul::-webkit-scrollbar-button,
._1hZ8y-40 ul::-webkit-scrollbar-corner {
    display: none
}

._1hZ8y-40 li {
    max-width: 100%;
    padding-left: 48px;
    padding-right: 15px;
    cursor: pointer;
    line-height: 1.15;
    color: $color
}

._34Mg0-40 {
    position: relative;
    margin-bottom: 12px;
    -webkit-transition: opacity .35s;
    transition: opacity .35s;
    z-index: 1;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

._34Mg0-40:last-child {
    margin-bottom: 0
}

._21zSn-40 {
    opacity: 0
}

.LWAt6-40 {
    position: relative
}

._1hqOU-40 {
    position: absolute;
    top: 50%;
    left: 15px;
    margin-top: -12px;
    color: #bfb7b6
}

._3eCjd-40 {
    position: absolute;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    top: 50%;
    right: 5px;
    height: 30px;
    margin-top: -15px;
    padding-left: 10px;
    padding-right: 10px;
    color: #bfb7b6;
    cursor: pointer;
    z-index: 1;
    -webkit-transition: color .35s;
    transition: color .35s
}

._3eCjd-40:hover {
    color: #a69895
}

._2tqPX-40 {
    display: block;
    width: 100%;
    height: 48px;
    padding: 0 40px 0 48px;
    font-size: 16px;
    color: #70544f
}

._34Mg0-40 ymaps[class*=popup],
._2tqPX-40 {
    border: none;
    border-radius: 2px;
    -webkit-box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08);
    box-shadow: 0 2px 8px 0 rgba(41, 44, 51, .08)
}

._34Mg0-40 ymaps[class*=popup] {
    overflow: hidden;
    overflow-y: auto;
    max-height: 368px;
    margin-top: 12px;
    padding-right: 15px
}

._34Mg0-40 ymaps[class*=popup]::-webkit-scrollbar {
    width: 2px;
    background: 0 0
}

._34Mg0-40 ymaps[class*=popup]::-webkit-scrollbar-track {
    border-radius: 1px
}

._34Mg0-40 ymaps[class*=popup]::-webkit-scrollbar-track-piece {
    background: 0 0
}

._34Mg0-40 ymaps[class*=popup]::-webkit-scrollbar-thumb {
    border-radius: 1px;
    background: #e6e2e1
}

._34Mg0-40 ymaps[class*=popup]::-webkit-resizer,
._34Mg0-40 ymaps[class*=popup]::-webkit-scrollbar-button,
._34Mg0-40 ymaps[class*=popup]::-webkit-scrollbar-corner {
    display: none
}

._34Mg0-40 ymaps[class*=popup],
.LWAt6-40 {
    position: relative
}

._34Mg0-40 ymaps[class*=popup]:after,
.LWAt6-40:after {
    content: "";
    position: absolute;
    display: block;
    width: 32px;
    height: 100%;
    top: 0;
    right: 0;
    background-image: -webkit-gradient(linear, left top, left bottom, from(hsla(0, 0%, 100%, 0)), color-stop(hsla(0, 0%, 100%, .6)), to(#fff));
    background-image: linear-gradient(hsla(0, 0%, 100%, 0), hsla(0, 0%, 100%, .6), #fff);
    pointer-events: none
}

._34Mg0-40 ymaps[class*=__suggest-item],
._34Mg0-40 li {
    height: 40px;
    font: 14px/40px Roboto, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol;
    color: #70544f;
    background-color: #fff;
    -webkit-transition: background-color .35s;
    transition: background-color .35s;
    position: relative
}

._34Mg0-40 ymaps[class*=__suggest-item]:before,
._34Mg0-40 li:before {
    content: "";
    position: absolute;
    left: 24px;
    top: 50%;
    opacity: 0;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    background: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2Ij4KICAgIDxwYXRoIGZpbGw9IiMwMDk0NzEiIGZpbGwtcnVsZT0ibm9uemVybyIgZD0iTTcuNDAzIDguMzlMNC44OSA2LjU4IDMuNSA4LjE1NSA3LjcwNyAxMS41IDEyLjUgNS44MyAxMC44NTcgNC41eiIvPgo8L3N2Zz4K) no-repeat 50% 50%/contain;
    width: 16px;
    height: 16px;
    -webkit-transition: opacity .35s;
    transition: opacity .35s
}

._34Mg0-40 .focused,
._34Mg0-40 ymaps[class*=__suggest-item_selected_yes] {
    background-color: #f8f8f8;
    -webkit-transition-duration: .175s;
    transition-duration: .175s
}

._34Mg0-40 .focused:before,
._34Mg0-40 ymaps[class*=__suggest-item_selected_yes]:before {
    -webkit-transition-duration: .175s;
    transition-duration: .175s;
    opacity: 1
}

._34Mg0-40 ymaps[class*=search__suggest-item] {
    padding-left: 48px;
    padding-right: 0
}

._2T68q-40 {
    width: 100%;
    height: 220px;
    background-color: #f5f5f5
}

.eWod9-40 {
    width: 100%;
    position: relative
}

._cbIk-40 {
    padding-top: 10px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 12px
}

._cbIk-40 svg {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-top: -3px;
    margin-right: 4px;
    vertical-align: middle;
    color: #c21313
}

._2OMP7-40 {
    width: 245px !important;
    height: 122px;
    padding: 17px 16px 16px 4px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-shadow: inset 0 0 0 1px #ededed;
    box-shadow: inset 0 0 0 1px #ededed;
    border-radius: 5px;
    background-color: #fff;
    -webkit-transform: translateZ(0);
    transform: translateZ(0)
}

._2ZOwz-40 {
    width: 87px;
    margin-right: 4px;
    -ms-flex-negative: 0;
    flex-shrink: 0
}

._2ZOwz-40 img {
    width: 100%
}

._2EzA0-40 {
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 100%;
    flex-basis: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column
}

._1gtgs-40,
._2EzA0-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex
}

._1gtgs-40 {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    margin-top: auto
}

._3ubix-40,
._3NuYQ-40 {
    -ms-flex-negative: 0;
    flex-shrink: 0;
    margin-bottom: 4px
}

._3ubix-40 {
    overflow: hidden;
    height: 32px;
    font-size: 12px
}

._3oXQb-40 {
    padding-top: 12px
}

._124aE-40 {
    margin-bottom: 24px
}

.i50rn-40 {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    height: 30px;
    width: -webkit-max-content;
    width: -moz-max-content;
    width: max-content;
    line-height: 30px;
    color: #940000;
    cursor: pointer;
    -webkit-transition: color .35s;
    transition: color .35s
}

.i50rn-40:hover {
    color: #006d54
}

.DSLox-40 {
    color: inherit;
    -webkit-transition: inherit;
    transition: inherit
}

.Y_obM-40 {
    margin-right: 5px
}

._3wPJc-40 {
    position: fixed;
    top: calc(2% + 80px);
    left: 2%;
    width: 96%;
    height: calc(96% - 80px);
    z-index: 9
}

._131Mb-40 {
    margin-bottom: 0;
    padding-bottom: 20px
}

._2UUu8-40 {
    width: 100%;
    height: 220px
}